$blue-bg: rgb(50, 67, 141);
$blue-btn: rgb(29, 131, 214);

// body {
//   background-color: $blue-bg;
// }

// class

.btn-form {
  background: #ed1212;
  color: white;
  height: '30px';
  width: 100%;
  padding: '10px';
  border-radius: '2px';

  &:hover {
    background: #cf3030;
    color: white;
  }
}

.card-news {
  border: 2px solid #eee;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
}
.card-title {
  margin-bottom: 15px;
  padding: 30px;
  background-color: #cf3030;
  color: white;
}

.container-reg {
  width: 50%;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

.form-group .form {
  border-radius: 6px;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.required {
  color: red;
}

textarea.form {
  padding-bottom: 40px;
  height: auto !important;
  resize: none;
}
